@import "fonts";
@import "libs";
@import "vars";

/*===========================
Table of Content

1. Reset css
2. Base styles
3. Buttons
4. Header
5. Main-Slider
6. About Us
7. Our Team
8. Blog
9. Vidgets
10. Footer
===========================*/


/* 1. Reset css
===========================*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;                               /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;          /* приводим все к одной базовой линии */
    background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                               /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
	
}
table {                        /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;            /* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
    margin: 0;                 /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%;             /* делаем размер шрифтов везде одинаковым */
    outline: none;
}

input[type="checkbox"] {         /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
     list-style:none;
}
/* --------------- /reset.css --------------- */

/* 2. Base styles
===========================*/

a, a:visited { /* порядок правил для ссылок имеет значение */
    text-decoration: none;
	transition: all .5s ease;
}
a:hover {
    text-decoration:none;
}
a:focus, a:active {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
img{
	display: block;
    max-width:100%;
}
.clr{
    clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
*::-webkit-input-placeholder{
	color: #616161;
	opacity: 1;
}
*:-moz-placeholder{
	color: #616161;
	opacity: 1;
}
*::-moz-placeholder{
	color: #616161;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #616161;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #616161;
}
body input:required:valid,
body textarea:required:valid{
	color: #616161;
}

html, body{
	height: 100%;
	font-size: 100%;
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	// overflow-x: hidden;
	opacity: 1;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

section, header{
	position: relative;
	background-size: cover;
	background-position: center;
}

/* 3. Buttons
===========================*/

.btn{
	background-color: $blue;
	color: white;
	text-transform: uppercase;
	font: bold .875rem montserrat;
	padding: 1em 1.857em;
	letter-spacing: .15em;
	vertical-align: text-bottom;
	&:hover{
        background-color: lighten($blue, 15%);
		} 
    &:active{
        background-color: darken($blue, 15%);
	}

}
.read-more{
	color: $blue;
	font: 1rem montserrat;
	border-bottom: 2px solid $blue;
	&:hover{
		border: none;
	}
}

/* 4. Header
===========================*/

.wave{
	background-image: url("../img/header.jpg");
	height: 703px;
}
.logo-nav{
	padding-top: 1.375rem;
}
.logo{
	font: bold 2.125rem montserrat;
	text-transform: capitalize;
	&__link{
		color: black;
		&:hover{
			color: $blue;
		}
	}
}
.menu{
	text-transform: uppercase;
	font: .875rem montserrat;
	&__link{
		color: black;
		padding: .429em .643em;
		&:hover{
			background-color: $blue;
			color: white;
		}
	}
}
.social{
	display: flex;
	justify-content: flex-end;
	&__link{
		background-color: white;
		color: black;
		padding: 0.1em 0.563em;
		border-radius: 50%;
		margin-right: .571em;
		font-size: 1rem;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			background-color: $blue;
			color: white;
		}
		&_facebook{
			padding: 0.1em .763em;
		}
		&_instagram{
			padding: 0.1em .6em;
		}
	}
}
.slogan{
	text-align: center;
	font: italic 3.125rem playfair;
	margin: 2.6em 0	;
	&__h3{
		font-size: .48em;
		color: white;
	}
}
.wrapper{
	position: absolute;
	top: -283px;
}

/* 5. Main-slider
===========================*/

.main-slider{
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	position: relative;
	box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, .34);
	padding: 2.5em 3.125em 3.125em 3.125em;
	margin-bottom: 1em;
	&__bg{
		position: absolute;
		right: -283px;
    	bottom: 243.9px;
		z-index: 0;

		font: bold 7.938em montserrat;
		letter-spacing: 16px;
		color: rgba(0, 0, 0, .03);
		transform: rotate(-90deg);
		text-transform: uppercase;
	}
	&::before{
		content: '';
		height:100%;
		position:absolute;
		width:100%;
		top:0;
		left:0;
		background: $blue;
		background: linear-gradient(-50.8deg, white 785.7px, $blue 0);
		z-index: 0;
	}
}

.child-slider{
	font-size: 1rem;
	margin-top: 2.5em;
}

.goods{
	font-size: 1rem;
	&_pad{
		padding-left: 5em;
	}
	&__title{
		margin-bottom: 1.563em;
	}
	&__h2{
		font: bold 1.250em montserrat;
		color: black;
		text-transform: capitalize;
	}
	&__rang{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icon{
		font-size: .75em;
		color: #939393;
		&_gold{
			color: #f2d800;
		}
	}
	&__quan{
		font: bold .75em montserrat;
		color: #787878;
		margin-left: .2em;
	}
	&__date{
		font: .875em/2em montserrat;
		color: white;
		background-color: black;
		padding: .357em .657em;

		position: relative;
		right: -65px;
	}
	&__price-block{
		margin: 2.188em 0 5em 0;
	}
	&__price{
		font: bold 1.5em montserrat;
		color: black;
		margin-right: 1.2em;
	}
}

.tabs{
	display:inline-block;
	font-size: 1rem;
	position: relative;
    z-index: 4;
	&__ul{
		margin: 0;
		padding: 0;
		&:after{
			content:"";
			display:block;
			clear:both;
			height:1px;
			background: #d9d9d9;
		}
	}
	&__title{
		cursor:pointer;
		display:block;
		float:left;

		font: 600 .938em raleway;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		padding: .5em 0em;
		margin-right: 1.563em;
		color:#a0a0a0;
		&:last-child{
			margin-right: 0;
		}
		&.active, &:hover{
			color: black;
			border-bottom: .188em solid $blue;
		}
	}
	&__container{
		padding-top: .625em;
	}
	&__txt{
		display: none;
		font: 1em/1.5em raleway;
		padding-top: .875em;
		padding-right: 1.875em;
		color: #787878;
		letter-spacing: 0.2px;
		&.active{
			display: block;
		}
	}
}

/* 6. About Us
===========================*/
.about{
	background-image: url("../img/overlay.jpg");
	margin-top: 39.063em;
	height: 642px;
	z-index: 1;
}
.section-title{
	font: bold 12.25rem montserrat;
	color: black;
	text-transform: uppercase;
	opacity: .03;
	position: relative;
	top: -171.6px;
    z-index: 0;
	&_team{
		top: 135px;
	}
	&_insta{
		font-size: 5.625rem;
		top: 0;
		letter-spacing: 8px;
    	line-height: 0.7;
	}
}
.video{
	background-image: url("../img/video.jpg");
	width: 500px;
	height: 300px;

	position: absolute;
    bottom: -600px;
    right: 0;
	text-align: center;
	box-shadow: 14px 17px 20px 0px rgba(0, 0, 0, .2);
	&::before{
		content: '';
		position: absolute;
		border: 1px solid white;
		// padding: 0.8em 0.8em 0.8em 1em;
		border-radius: 50%;
		height: 136px;
		width: 136px;
		top: -22%;
		margin-top: 150px;
		left: 50%;
		margin-left: -69px;
		opacity: .6;
	}
	&::after{
		content: "\f04b";
		font-family: "FontAwesome";
		color: white;
		font-size: 2rem;
		line-height: 19rem;
		border-radius: 50%;
		border: 5px solid white;
		padding: 0.8em 0.8em 0.8em 1em;
	}
}

.description-wrap{
	width: 50%;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
}
.description{
	width: 70%;
	padding: 6.25rem 7.813rem 1rem 0;
}
.block-title{
	font: 1.125rem montserrat;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .05em;
	&::after{
		content: '\f00d';
		font-family: 'FontAwesome';
		display: block;
		margin-top: 1em;
	}
}
.playfair-txt{
	font: 1.375rem/1.727em playfair;
	margin: 1.591em 0;
}

/* 7. Our Team
===========================*/

.our-team{
	margin-top: 12.5em;
}
.slider{
	display: flex;
	position: relative;
	margin-bottom: 9.375rem;
	&__wrap{
		position: relative;
		display: flex;
    	height: 400px;
		overflow: hidden;
		align-items: center;
	}
	&__btn{
		position: absolute;
		top: 50%;
		margin-top: -60px;
		color: #0022ff;
		border-radius: 50%;
		border: 1px solid #e6e6e6;
		box-shadow: 0 0 6px rgba(0, 0, 0, .16);
		background-color: #fff;
		cursor: pointer;
		padding: .9em 1em;
		z-index: 10;
		transition: all .5s linear;
		&:disabled{
			color: #ccc;
			opacity: .7;
		}
		&:hover{
			color: lighten(#0022ff, 20%);
			box-shadow: 0 0 6px rgba($blue, .5);
		} 
    	&:active{
			color: darken(#0022ff, 15%);
			box-shadow: 0 0 6px rgba($blue, .5);
		}
		&_prev{
			left: -25px;
			&::before{
				content: "\f060";
				font-family: "FontAwesome";
				font-size: 1em;
			}
		}
		&_next{
			right: -25px;
			&::before{
				content: "\f061";
				font-family: "FontAwesome";
				font-size: 1em;
			}
		}
		
	}
	&__team{
		display: flex;
		margin-left: 30px;
		transition: all .5s linear;
	}
}
.team{
	display: flex;
	flex-direction: column;
	align-items: center;
	font: .875rem raleway;
	color: #8c8c8c;
	background-color: #fff;
	padding: 2.143em 4.286em 3.214em;
	box-shadow: 7px 5px 14px 4px rgba(0, 0, 0, .2);
	border-radius: 5px;
	opacity: 0;
	transition: opacity .7s ease;

	position: relative;
	z-index: 3;
	&_vis{
		opacity: 1;
	}
	&:nth-child(2){
		transform: translate(-20px, 30px);
		z-index: 5;
	}
	&:nth-child(3){
		transform: translate(-40px, 0px);
		z-index: 3;
	}
	&:nth-child(4){
		transform: translate(-60px, 30px);
		z-index: 3;
	}
	&:nth-child(5){
		transform: translate(-80px, 0px);
		z-index: 3;
	}
	&:nth-child(6){
		transform: translate(-100px, 30px);
		z-index: 3;	
	}
	&:nth-child(7){
		transform: translate(-120px, 0px);
		z-index: 3;
	}
	&:hover{
		background-color: $blue;
		& .team__name{
			color: white;
		}
		& .team__mail, & .team__geo{
			color: #b3e7ff;
		}
		& .team__icon {
			color: #0022ff;
		}
	}
	&__photo{
		border-radius: 50%;
    	border: 2px solid white;
	}
	&__name{
		font: 1.286em montserrat;
		color: $blue;
		text-transform: capitalize;
		margin-top: .778em;
	}
	&__icon{
		margin: 0.671em 0;
		color: #646464;
		font-size: 1.3em;
	}
	&__geo{
		text-transform: capitalize;
		&::before{
			content: '\f041';
			font-family: "FontAwesome";
			color: #d9d9d9;
			margin-right: .357em;
		}
	}
}

/* 8. Blog
===========================*/

.blog-wrap{
	text-align: center;
	margin-bottom: 20rem;
}
.article-wrap{
	display: flex;
	justify-content: center;
	margin: 2.188rem 0 3rem 0;
}
.article{
	font-size: 1rem;
	text-align: left;
	display: block;
	&-wrap .col-3{
		padding-top: .7em;
		padding-bottom: .7em;
	}
	&__txt{
		font: 1em/1.5em raleway;
		padding: 1.3em;
		padding-right: .625em;
		color: #787878;
	}
	&:hover{
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
	}
	&:hover .article__txt{
		color: #0022ff;
	}
}

/* 9. Vidgets
===========================*/
.vidgets{
	display: flex;
	align-items: center;
	position: relative;
}
.instagram{
	position: absolute;
	left: 0;
	top: -312px;
	z-index: 3;
	&__vidget{
		background-color: $blue;
		width: 620px;
		height: 690px;

	}
}
.facebook{
	font-size: 1rem;
	background-color: #385490;
	padding: 1.875em 3.125em 2.5em;

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		height: 50%;
		width: 100%;
		z-index: 1;	
		background-color: #e5e5e5;
	}
	&__logo{
		margin-bottom: 1.875em;
	}
}
.fb-page{
	position: relative;
	width: 340px!important;

	z-index: 5;
}

/* 10. Footer
===========================*/

.footer{
	background-color: #000;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	margin-top: 3.75rem;
	
}
.ftr-menu{
	display: flex;
	justify-content: flex-start;
	font: .875rem raleway;
	&__wrap{
		display: flex;
		flex-direction: column;
		
		&:first-child{
			margin-right: 4.28em;
		}
	}
	&__link{
		text-transform: capitalize;
		color: white;
		margin-bottom: 1.642em;
		&::before{
			content: "\f012";
			font-family: "FontAwesome";
			color: #f2d800;
			margin-right: 0.6em;
		}
		&:hover{
			color: #f2d800;
		}
	}
}
.foot{
	padding-top: 1.688rem;
}
.copy{
	font: 600 .75rem raleway;
	color: #4d4d4d;
	margin-top: 2.250em;
	&__link{
		color: #4d4d4d;
		&:hover{
			color: $blue;
		}
	}
}
.subscriebe{	
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	margin: 3.5em 1em 2.2em 5.7em;
	&__name{
		color: white;
		font: 1em montserrat;
		margin-bottom: .3em;
	}
	&__inputs{
		position: relative;
		max-width: 300px;
	}
	&__email{
		font: .875em raleway;
		background: #000 url(../img/input.png) no-repeat 0px 4px;
		border: none;
		border-bottom: 1px solid #4d4d4d;
		padding-bottom: .643em;
		padding-left: 1.786em;

		color: #4d4d4d;
		width: 100%;
	}
	&__submit{
		background-color: $blue;
		border: none;
		border-radius: 50%;
		color: white;
		cursor: pointer;
		padding-top: 2px;
    	padding-bottom: 2px;

		position: absolute;
		right: 0;
		top: 0;
		&:hover{
        background-color: lighten($blue, 15%);
		} 
    	&:active{
        background-color: darken($blue, 15%);
		}
	}
}
@import "media"; // Всегда в конце
