@import "fonts";
@import "libs";
@import "vars";

/*===========================
Table of Content

1. Reset css
2. Base styles
3. Header
4. Main-Slider
3. Universe classes
4. Buttons
5. Header
6. About Us
7. Our Focus
8. Video
9. Portfolio
10. Our Team
11. Statistic
12. Work Steps
13. Pricing Table
14. Testimonials
15. Why Select Us
16. Blog
17. Subscriebe
18. Feedback
19. Js-classes
===========================*/


/* 1. Reset css
===========================*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;                               /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline;          /* приводим все к одной базовой линии */
    background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                               /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
	
}
table {                        /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}
td, td img {
    vertical-align: top;            /* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
    margin: 0;                 /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%;             /* делаем размер шрифтов везде одинаковым */
    outline: none;
}

input[type="checkbox"] {         /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
     list-style:none;
}
/* --------------- /reset.css --------------- */

/* 2. Base styles
===========================*/

a, a:visited { /* порядок правил для ссылок имеет значение */
    text-decoration: none;
	transition: all .5s ease;
}
a:hover {
    text-decoration:none;
}
a:focus, a:active {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
img{
	display: block;
    max-width:100%;
}
.clr{
    clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
*::-webkit-input-placeholder{
	color: #616161;
	opacity: 1;
}
*:-moz-placeholder{
	color: #616161;
	opacity: 1;
}
*::-moz-placeholder{
	color: #616161;
	opacity: 1;
}
*:-ms-input-placeholder{
	color: #616161;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #616161;
}
body input:required:valid,
body textarea:required:valid{
	color: #616161;
}

html, body{
	height: 100%;
	font-size: 100%;
	padding: 0;
	margin: 0;
}
body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	// overflow-x: hidden;
	opacity: 1;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

section, header{
	position: relative;
	background-size: cover;
	background-position: center;
}

/* 3. Buttons
===========================*/

.btn{
	background-color: $blue;
	color: white;
	text-transform: uppercase;
	font: bold .875rem montserrat;
	padding: 1em 1.857em;
	letter-spacing: .15em;
	vertical-align: text-bottom;
	&:hover{
        background-color: lighten($blue, 15%);
		} 
    &:active{
        background-color: darken($blue, 15%);
	}

}
.read-more{
	color: $blue;
	font: 1rem montserrat;
	border-bottom: 2px solid $blue;
	&:hover{
		border: none;
	}
}

/* 4. Header
===========================*/

.wave{
	background-image: url("../img/header.jpg");
	height: 703px;
}
.logo-nav{
	padding-top: 1.375rem;
}
.logo{
	font: bold 2.125rem montserrat;
	text-transform: capitalize;
	&__link{
		color: black;
		&:hover{
			color: $blue;
		}
	}
}
.menu{
	text-transform: uppercase;
	font: .875rem montserrat;
	&__link{
		color: black;
		padding: .429em .643em;
		&:hover{
			background-color: $blue;
			color: white;
		}
	}
}
.social{
	display: flex;
	justify-content: flex-end;
	&__link{
		background-color: white;
		color: black;
		padding: 0.1em 0.563em;
		border-radius: 50%;
		margin-right: .571em;
		font-size: 1rem;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			background-color: $blue;
			color: white;
		}
		&_facebook{
			padding: 0.1em .763em;
		}
		&_instagram{
			padding: 0.1em .6em;
		}
	}
}
.slogan{
	text-align: center;
	font: italic 3.125rem playfair;
	margin: 2.6em 0	;
	&__h3{
		font-size: .48em;
		color: white;
	}
}

/* 4. Main-Slider
===========================*/

.main-slider{
	display: flex;
	justify-content: space-between;
	position: relative;
	// height: 600px;
	box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, .34);
	padding: 2.5em 3.125em 3.125em 3.125em;
	// top: -283px;
	&__bg{
		position: absolute;
		right: -263px;
    	bottom: 222.9px;
		z-index: 0;

		font: bold 7.938em montserrat;
		letter-spacing: 10px;
		color: rgba(0, 0, 0, .03);
		transform: rotate(-90deg);
		text-transform: uppercase;
	}
	&::before{
		content: '';
		height:100%;
		position:absolute;
		width:100%;
		top:0;
		left:0;
		background: $blue;
		background: linear-gradient(-49deg, white 785.7px, $blue 0);
		z-index: 0;
	}
}

.child-slider{
	font-size: 1rem;
	margin-top: 2.5em;
}

.goods{
	font-size: 1rem;
	&__title{
		margin-bottom: 1.563em;
	}
	&__h2{
		font: bold 1.250em montserrat;
		color: black;
		text-transform: capitalize;
	}
	&__rang{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__icon{
		font-size: .75em;
		color: #939393;
		&_gold{
			color: #f2d800;
		}
	}
	&__quan{
		font: bold .75em montserrat;
		color: #787878;
		margin-left: .2em;
	}
	&__date{
		font: .875em/2em montserrat;
		color: white;
		background-color: black;
		padding: .357em .657em;

		position: relative;
		right: -65px;
	}
	&__price-block{
		margin: 2.188em 0 5em 0;
	}
	&__price{
		font: bold 1.5em montserrat;
		color: black;
		margin-right: 1.2em;
	}
}

.tabs{
	display:inline-block;
	font-size: 1rem;
	position: relative;
    z-index: 4;
	&__ul{
		margin: 0;
		padding: 0;
		&:after{
			content:"";
			display:block;
			clear:both;
			height:1px;
			background: #d9d9d9;
		}
	}
	&__title{
		cursor:pointer;
		display:block;
		float:left;

		font: 600 .938em raleway;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		padding: .5em 0em;
		margin-right: 1.563em;
		color:#a0a0a0;
		&:last-child{
			margin-right: 0;
		}
		&.active, &:hover{
			color: black;
			border-bottom: .188em solid $blue;
		}
	}
	&__container{
		padding-top: .625em;
	}
	&__txt{
		display: block;
		font: 1em/1.5em raleway;
		padding-top: .875em;
		padding-right: 1.875em;
		color: #787878;
		letter-spacing: 0.2px;
	}
}


@import "media"; // Всегда в конце
